* {
  box-sizing: border-box;
}
body {
  margin: 0;
  overflow: hidden;
  background: #00101C;
}
.ball {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #3498db;
  position: absolute;
  box-shadow: 10px 10px 25px 3px rgba(0,0,0,.5);
}
.squares {
  width: 100px;
  height: 100px;
  background: green;
  display: inline-block;
  margin-right: 10px;
}
.red {
  background: red;
}
